<div class="c-home-subscribe-box">
    <h3 class="c-home-subscribe-box__heading">{{t '{siteTitle} Newsletter' siteTitle=@site.title}}</h3>
    <p class="c-home-subscribe-box__description">{{t 'Become a subscriber to access all of our content.' }}</p>
    {{> home/subscribe-form inputLabel='subscribe-box'}}
</div>
